/* Centra el contenido de las celdas de PrimeReact DataTable */
.p-datatable .p-datatable-tbody > tr > td,
.p-datatable .p-datatable-thead > tr > th {
  text-align: center !important;
  vertical-align: middle !important;
}
